
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
  padding-top: 60px; 
}

html{
  scroll-behavior: smooth;
}
/* HEADER */
header {
  background-color: #275498;
  color: white;
  text-align: center;
  padding: 2px 0;
  position: fixed; 
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

nav ul {
  list-style: none;
  margin-top: 5px;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* ABOUT */
#about {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f2f2f2;
}

.profile-container {
  width: 220px;
  height: 220px;
  background-color: #bbdefb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
}

.profile-container img {
  width: 120px;
  border-radius: 50%;
}

#about p {
  font-size: 1rem;
  color: #555;
}

/* SKILLS */
#skills {
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  text-align: center;
}

#skills h2 {
  margin-bottom: 1rem;
}

#skills table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
}

#skills th,
#skills td {
  border: 1px solid #ccc;
  padding: 10px;
}

#skills th {
  background-color: #0d47a1;
  color: white;
}

/* PROJECTS */
#projects {
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  text-align: center;
}

#projects h2 {
  margin-bottom: 1rem;
}

.project {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  width: 50%;
  margin: 1rem auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project h3 {
  color: #0d47a1;
  margin-bottom: 0.5rem;
}

/* CONTACT */
#contact {
  background-color: #f2f2f2;
  padding: 50px 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}

#contact h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #222;
}

#contact table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  max-width: 600px;
}

#contact td {
  padding: 10px;
  border: 1px solid #0044cc;
}

#contact label {
  font-weight: bold;
  color: #333;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: none;
}

#contact button {
  background-color: #0044cc;
  color: white;
  border: none;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

#contact button:hover {
  background-color: #003399;
}

/* BACK TO TOP */
.back-to-top {
  display: inline-block;
  margin-top: 20px;
  background-color: #0044cc;
  color: white;
  padding: 9px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  margin-left: 80%;
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #003399;
}


